{% extends 'base.html.twig' %}

{% block contenu %}

<h1>Bienvenue sur Pro Stage</h1>

<p>
Vous trouverez ci-dessous les dernières ressources pédagogiques ajoutées sur ProStage
</p>
<ul>
<li><a href="{{path('pro_stage_entreprises')}}">entreprises</a></li>
<li><a href="{{path('pro_stage_formations')}}">formations</a></li>
<li><a href="{{path('pro_stage_stages',{id:1})}}">stages</a></li>

</ul>

{% endblock %}

